    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Work</h2>
                    <p>We have just opened in Kashmir and we belive its right time for all of us to start branding our houses to homes.</p>
                    <a href="#" class="btn btn-default btn-lg">Visit our office in Kashmir</a>
                </div>
            </div>
        </div>
    </section>